* {
margin: 0;
padding: 0;
box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
.nav-bar{
  margin-top: 2%;
  height: 20px;
  width: 100%;
  background-color: black;
  color: wheat;
  font-size: 30px;
  font-weight: 750;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
   margin-top: 30px;
  height: 100%;
  width: 100%;
  background-color: black; 
    display: flex;
   flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
 .card{
   width: 18%;
   height: 60%;
  background-color: rgb(185, 183, 183);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  position: relative;
 }
 .card div{
  position: relative;
   overflow: hidden;
 }
 .card video{
height: 250px;
width: 100%;
object-fit: cover;
margin-bottom: 10px;
border-radius: 10px;
}
 .card h1{
 font-size: 30px;
 font-weight: 600;
 text-align: center;
 direction: column;
 }
 .card i{
  position: absolute;
  top: 50%;
  left: 50%;
   font-size: 50px;
   opacity: 0; 
   background-image:url(https://i.pinimg.com/736x/20/2e/9a/202e9abbdbc74e1a0c069d6137e6ad2d.jpg);
   background-size: cover;
   background-clip: text;
   -webkit-background-clip: text;
  color:transparent;
  transform: translate(-50%,-50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.65,1,.77,1.44) 0.3s;
 }